<div class="container-fluid">
    <div class="d-flex p-3">
        <h3>{{title}}</h3>
        <span  *ngIf="type == detailTypes.Create" class="ml-auto">Clave: {{formatedCode}}</span>
      </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field appField class="col-md-4">
      <input matInput formControlName="firstName" placeholder="Nombre">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <input matInput formControlName="lastName" placeholder="Apellido Paterno">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <input matInput formControlName="mothersLastName" placeholder="Apellido Materno">
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <input matInput formControlName="rfc" placeholder="RFC">
      <mat-error></mat-error>
    </mat-form-field>
    <div class="mt-3">
      <button mat-button type="button" class="m-1" (click)="goBack()">
        <mat-icon>cancel</mat-icon> Cancelar</button>
      <button mat-raised-button color="primary" type="submit" class="m-1">
        <mat-icon>save</mat-icon> Guardar</button>
    </div>
  </form>
</div>
